/.Mundo.java._trace
/.Persona.java._trace
/.Recepcionista.java._trace
/.RecepcionistaClasico.java._trace
/.RecepcionistaFormal.java._trace
/Mundo.java
/Persona.java
/Recepcionista.java
/RecepcionistaClasico.java
/RecepcionistaFormal.java
