/.Hola.java._trace
/.Administrador.java._trace
/.Condicional.java._trace
/.EquipoConfirmadoYCompleto.java._trace
/.Estandar.java._trace
/.Jugador.java._trace
/.Partido.java._trace
/.Solidario.java._trace
/.TipoInscripcion.java._trace
