/.generarEquipos.java._trace
/.VistaPrincipal.java._trace
/.SeguidorCarreraWindow.java._trace
/.GenerarEquiposWindow.java._trace
/.RunnableTest.java._trace
/.BusquedaJugadoresWindow.java._trace
/BusquedaJugadoresWindow.java
/GenerarEquiposWindow.java
/RunnableTest.java
/.RunnableBusquedaJugadores.java._trace
/VistaPrincipal.java
