/.AlgoritmoImparPar.java._trace
/.AlgoritmoLoco.java._trace
/.AlgoritmosCommand.java._trace
/.CriterioCalifiUltimoPartido.java._trace
/.CriterioHandicap.java._trace
/.CriterioMix.java._trace
/.CriterioNCalificaciones.java._trace
/.CriteriosCommand.java._trace
/AlgoritmoImparPar.java
/AlgoritmoLoco.java
/AlgoritmosCommand.java
/CriterioCalifiUltimoPartido.java
/CriterioHandicap.java
/CriterioMix.java
/CriterioNCalificaciones.java
/CriteriosCommand.java
/.DivisionDeEquiposCommand.java._trace
/DivisionDeEquiposCommand.java
