/.PartidoDecorator.java._trace
/.NotificarAmigosDecorator.java._trace
/.InfraccionDecorator.java._trace
/.Son10Decorator.java._trace
/.YaNoSon10Decorator.java._trace
/InfraccionDecorator.java
/NotificarAmigosDecorator.java
/PartidoDecorator.java
/Son10Decorator.java
/YaNoSon10Decorator.java
